.drinksGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 30px;
    padding: 30px;
    text-decoration: none;
    list-style: none;
    
}

@media (max-width:767px){
    .drinksGrid{
        grid-template-columns: 40%;
    }
}


@media (max-width:560px){
    .drinksGrid{
        grid-template-columns: 65%;
    }
}

@media (max-width:320px){
    .drinksGrid{
        grid-template-columns: 20%;
    }
}
